{% if test_data.nonskipped_tests %}
All tests:
    {% for arch, tests_by_arch in test_data.nonskipped_tests|groupby("architecture") %}
        {% for variant, tests in tests_by_arch|groupby("variant") %}
    {{ arch }}{{ " ({})".format(variant) if variant else "" }}:
            {% for test in tests %}
        {{ test.status|status_to_emoji }} {{ test.waived_failure|yesno("🚧 ,") }}{{ test.status }} {{ test.comment }}
                {% for issue_occurrence in test.issues_occurrences %}
                    {% if issue_occurrence.is_regression %}
        　 Regression:
                    {% else %}
        　 Known issue:
                    {% endif %}
        　     {{ issue_occurrence.issue.description }} - {{ issue_occurrence.issue.ticket_url }}
                {% endfor %}
                {% if test.subtests and test.status != "PASS" %}
                    {% if test.skipped_subtests %}
           Subtests skipped: {{ test.skipped_subtests|length }} out of {{ test.subtests|length }}
                    {% endif %}
           Non-passing subtests:
                    {% for subtest in test.nonpassing_subtests %}
               {{ subtest.status|status_to_emoji }} {{ subtest.status }} {{ subtest.name }}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}

    {% endfor %}
{% endif %}
{% if test_data.errored_tests %}
Aborted tests
-------------
Tests that didn't complete running successfully are marked with ⚡.
If this was caused by an infrastructure issue, we try to mark that
explicitly in the report.

{% endif %}
{% if test_data.waived_tests %}
Waived tests
------------
Failures of waived tests are marked with 🚧. Such tests are executed but their
results are not taken into account. Tests are waived when their results are not
reliable enough, e.g. when they're just introduced or are being fixed.
{% endif %}
