Checkout: {{ checkout_data.checkout.id }}

{% if 'kernel_version' in checkout_data.checkout.misc %}
Kernel version: {{ checkout_data.checkout.misc['kernel_version'] }}
{% endif %}
{% if 'related_merge_request' in checkout_data.checkout.misc %}
Merge request: {{ checkout_data.checkout.misc['related_merge_request']['url'] }}
{% else %}
  {% if checkout_data.checkout.git_repository_url %}
Kernel repo: {{ checkout_data.checkout.git_repository_url }}
  {% endif %}
  {% if checkout_data.checkout.git_repository_branch %}
Branch: {{ checkout_data.checkout.git_repository_branch }}
  {% endif %}
{% endif %}
{% if checkout_data.checkout.git_commit_hash %}
Commit: {{ checkout_data.checkout.git_commit_hash }}
{% endif %}
