{% if checkout_data.checkout.patch_mboxes %}
Applied patches:
    {% for patch in checkout_data.checkout.patch_mboxes %}
    Name: {{ patch.name }}
    Url: {{ patch.url }}

    {% endfor %}
{% endif %}
