{% macro inc(partial) %}
    {# While not having to write the whole path is nice, the main purpose of
       this macro is to be able to apply indent on imports #}
    {% set partial = 'partials/' + partial + '.j2' %}
    {% include partial %}
{% endmacro %}
{% block greeting %}
Hi, we tested your {{ checkout_data.checkout.patch_mboxes|yesno('patches,kernel') }} and here are the results:
{% endblock %}
{% block head %}

    {{ inc('result')|indent(4) }}
{% if checkout_data.summary %}
Tested-by: CKI Project <cki-project@redhat.com>
{% endif %}
{% endblock %}
{% block tagging_instructions %}
If you find a failure unrelated to your changes, please ask the test maintainer to review it.
This will prevent the failures from being incorrectly reported in the future.

{% endblock %}
{% block cki_logo %}
{% if is_email %}
Please reply to this email if you have any questions about the tests that we
ran or if you have any suggestions on how to make future tests more effective.

        ,-.   ,-.
       ( C ) ( K )  Continuous
        `-',-.`-'   Kernel
          ( I )     Integration
           `-'
______________________________________________________________________________
{% else %}
All user documentation, including reproducing the run: https://cki-project.org/docs/user_docs

In case of any CKI bugs or questions, reach out to <cki-project@redhat.com> .
{% endif %}
{% endblock %}
{% block body %}
{% endblock %}
